@media only screen and (max-width: 950px) {
	html {
		-webkit-text-size-adjust:none
	}
	body {
		background: #15335E url(../../../assets/root/images/mobile/bvcMobileBg.jpg) no-repeat center 45px;
		font-family: Arial, Helvetica, sans-serif;
		line-height: 18px;
		margin: 0;
		padding: 0;
		font-size:14px;
	}
	h1 {
		font-family: 'MuseoSans100', Arial, Helvetica, sans-serif;
		font-size: 30px;
		color:#fff;
		padding:25px 15px;
		margin:0;
		font-weight:normal;
	}
	h2 {
		font-family: 'MuseoSans100', Arial, Helvetica, sans-serif;
		font-size: 20px;
		color:#333;
		line-height:24px;
		margin:0;
		font-weight:normal;
	}
	ul li {
		list-style:none;
		padding:0;
	}
	ul, p, img, h2, h3 {
		padding:0;
		margin:0;
	}
	a:link, a:active, a:visited, a:hover {
		color:#cc9900;
		text-decoration:none;
		font-size:14px;
	}
	.header {
		background:#fff;
	}
	.header ul.menu {
		display:none;
		padding:0 0 20px 0;
	}
	.header img {
		padding:10px 15px;
	        width:150px;
	}
	.header ul.menu li a:hover {
		background:#f2f2f2;
		color:#cc9900;
	}
	.header ul.menu li a:link, .header ul.menu li a:active, .header ul.menu li a:visited, .header ul.menu li a:hover {
		color:#333;
		padding:15px;
		font-family: 'MuseoSans500', Arial, Helvetica, sans-serif;
		font-size: 18px;
		display:block;
		font-weight:normal;
		border-bottom:1px solid #e5e5e5;
	}
	.header a.menuLink:link, .header a.menuLink:active, .header a.menuLink:visited, .header a.menuLink:hover {
		color: #333;
		padding: 20px 15px;
		float: right;
		font-family: 'MuseoSans500', Arial, Helvetica, sans-serif;
		font-size: 18px;
		text-decoration: none;
	}
	.container {
		margin: 0 5px;
		border-top: 4px solid black;
		background: white;
		padding:10px 10px 50px;
	}
	.page78 .mobileContact ul li.labels, .page78 .mobileContact ul li.fields {
		display:block;
	}
	.team ul {
		padding:0 0 15px 0;
		border-bottom:1px solid #e5e5e5;
		margin:0 0 15px 0;
	}
	.team ul:last-child {
		border:none;
	}
	.team ul.Managing li {
		width:32%;
		display:inline-block;
		overflow:hidden;
		margin:0 3px 0 0;
		vertical-align:top;
	}
	.team ul.Managing li:last-child {
		margin:0;
	}
	.team ul.Managing li img {
		width:100px;
	}
	.team h3 {
		font-size:12px;
	}
	.team ul {
		padding:0 0 20px;
	}
	.team ul li {
		padding:0 0 20px 0;
	}
	.details img {
		float:left;
		padding:0 10px 10px 0;
	}
	.details h3 {
		padding:5px 0;
		font-weight:normal;
	}
	.details .backLink {
		padding:20px 0;
		display:block;
	}
	.details .extra {
		padding:10px 0;
		display:block;
	}
	.investments {overflow:hidden;padding:0;}
	.investments li {
		width:49%;
		display:inline-block;
		text-align:center;
		/*border-right:1px solid #E5E5E5;
		border-bottom:1px solid #E5E5E5;*/
		margin:0;
		padding:0;
	}
	.investments img {
		width:100%;
	        max-width:160px;
	}
	.tabs {
		margin:0;
		padding:0;
		display:block;
		background:#000;
		-webkit-border-top-left-radius: 3px;
		-webkit-border-top-right-radius: 3px;
		-moz-border-radius-topleft: 3px;
		-moz-border-radius-topright: 3px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}
	.tabs li {
		display:inline-block;
	}
	.tabs li a:link, .tabs li a:active, .tabs li a:visited, .tabs li a:hover {
		padding: 10px 10px;
		display: inline-block;
	}
	.tabs li.active a:link {
		background:#fff;
		color:#333;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 3px;
		-moz-border-radius-topleft: 3px;
		-moz-border-radius-topright: 3px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}
	.page76 .container, .page80 .container, .page81 .container {
		position:relative;
		margin:40px 10px 0;
	}
	.page76 .tabs, .page80 .tabs, .page81 .tabs {
		top: -38px;
		position: absolute;
		left: 0;
	}
	.page76 {
		padding:0;
	}

	.footer {margin: 0 5px;padding:0 0 70px 0;}
	.footer ul {background: #132E54;}
	.footer li {width: 13%;
	text-align: center;
	display: inline-block;
	padding: 10px 10px;}
	.footer li a:link, .footer li a:active, .footer li a:visited, .footer li a:hover {color:#637895;}
	.footer {text-align:center;color:#637895;}
	.footer p {padding:20px 0;font-size:12px;}


	.page74 .container {background:none;border-top:none;margin:0;padding:0;}
	.page74 h1 {display:none;}
	.page77 .container {padding:0 10px 50px;}
	.page77 img {width:100%;margin:0 0 20px 0;}

	.flexslider .slides > li {position:relative;}
	.flexslider p {line-height:12px;font-size:12px;font-family: 'MuseoSans500', Arial, Helvetica, sans-serif;}
	.flexslider .content {position:absolute;color:#fff;text-align:center;top:30%;padding:0 40px;}
	.flexslider .imgTitle {margin:0 0 0;text-align:center;}
	    

	.newsPhotoMobile {
	border: 1px solid #ccc;
	max-width: 100%;
	margin: 20px 0 0;
	padding: 0px !important;
	float: none !important;
	display: block;
	}
	.newsEntry {
	border-bottom: 1px solid #eee;
	padding-bottom: 30px;
	margin-bottom: 25px;
	min-height: 60px;
	}
}
