                                                        /*
	Site: battersonvp.com
	Author: tecture
	Date: 7/10/12
	
	Table of Contents
		GLOBAL
		TOP BAR
			NAV
		MAIN CONTENT
			HOME
			PORTFOLIO
			PAGINATION
			RIGHT COLUMN
		FOOTER



*/

/* --------------------------------
			GLOBAL
---------------------------------- */
       
* {
	margin:0;
	padding:0;
}
body {
	overflow-x: hidden;
	margin:0;
	padding:0;
	background: #153460 url(../../../assets/root/images/backgrounds/mainContentBG.jpg) repeat-x top left;
	color: #333333;
	font-size:14px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 18px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}
img {
	border:0;
}
h1, .headerSlide h1 {
	color:#fff;
	font-weight:normal;
	font-size:30px;
	font-family:'MuseoSans100', Arial, Helvetica, sans-serif;
}
input:focus, textarea:focus {
	-webkit-box-shadow: inset 0 0 5px #bebebe;
	-moz-box-shadow:    inset 0 0 5px #bebebe;
	box-shadow:         inset 0 0 5px #bebebe;
}
h2 {
	font-weight:normal;
	font-family:'MuseoSans100', Arial, Helvetica, sans-serif;
}
.contentContainer h2 {
	padding: 0 0 10px 0;
	line-height:28px;
}
h3 {
	font-size:18px;
	font-family:'MuseoSans500', Arial, Helvetica, sans-serif;
}
p, ul, ul li, h1, h2, h3 {
	margin:0;
	padding:0;
}
ul, ul li {
	list-style:none;
}
.callOut {
	font-size:18px;
	font-family:'MuseoSans500', Arial, Helvetica, sans-serif;
}
.clearfix:after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: ".";
	line-height: 0;
}
.clearfix {
	display: inline-block;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}
/* .bwFade{ visibility:hidden; */
/* --------------------------------
			END GLOBAL
---------------------------------- */

/* --------------------------------
			TOP BAR
---------------------------------- */

#topBar, .contactForm {
	position: absolute;
	top:0;
	left: 0;
	z-index:1000;
	width: 100%;
	height:113px;
	background: white;
}
.contactForm {
	top:113px;
	margin-top:-30px;
	height:0px;
}
.contactForm.expand {
	-webkit-box-shadow: 0 8px 6px -6px #333;
	-moz-box-shadow: 0 8px 6px -6px #333;
	box-shadow: 0 8px 6px -6px #333;
}
/*-------------------
			top nav
	---------------------*/

		#topBar #nav, #topBar .contactContent {
	position:relative;
	margin:0px auto;
	padding:30px 10px 0;
	width:960px;
	height:100%;
}
noscript {
	display:block;
	margin:0px auto;
	width:960px;
	text-align:center;
}
#topBar .contactForm {
	display:none;
	padding:0;
	height: auto;
	/* height:575px; */
}
#nav li {
	display:inline-block;
	margin:0 55px 0 0;
}
#nav li a img {
	vertical-align:middle;
}
#nav a:link, #nav a:active, #nav a:visited, #nav a:hover {
	margin:0;
	padding: 0 10px 11px 0px;
	color:#333333;
	text-decoration:none;
	font-size:16px;
	font-family:'MuseoSans500', Arial, Helvetica, sans-serif;
}
#nav a:hover {
	color:#cc9900;
}
a:link, a:active, a:visited, a:hover {
	color:#cc9900;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
.nav-item {
	position:relative;
}
.nav-item-5 {
	background: url(../../../assets/root/images/icons/navigation-dropdown-arrow.gif) no-repeat right center;
}
#nav .nav-item-5 a {
	padding:0 17px 11px 0;
}
.nav-item:hover .subNav{display:block;}
.subNav {
	position: absolute;
	top: 29px;
	left: -47px;
	z-index:2000;
	display:none;
	padding: 0;
	width: 165px;
	background: white;
	-webkit-box-shadow: 0 0 5px #ccc;
	-moz-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
	font-family: Arial, Helvetica, sans-serif;
}
#nav .subNav a:hover {
	text-decoration:underline;
}
.subNav.active {
	display:block;
}
.subNav .arrow {
	position: absolute;
	top: -6px;
	left: 74px;
	width: 11px;
	height: 6px;
	background: white url(../../../assets/root/images/icons/sub-nav-arrow.png) no-repeat top center;
}
#nav .subNav li {
	display:block;
	margin:0;
	border: 1px solid #CCC;
	border-bottom: 1px solid #e5e5e5;
	text-align:center;
}
#nav .subNav li:last-child {
	border-top:0px;
	border-bottom: 1px solid #ccc;
}
#nav .subNav a {
	display:block;
	margin:0;
	padding:10px;
	color:#cc9900;
	font-size:14px;
}
/*-------------------
			end top nav
	---------------------*/

/* --------------------------------
			END TOP BAR
---------------------------------- */


/* --------------------------------
		MAIN CONTENT
---------------------------------- */

#mainContent {
	margin:165px auto 0px;
	width:960px;
}

#mainContent.home {
	margin:113px auto 0px;
}

.contentBG {
	margin:44px 0 0;
	border-top: 4px solid black;
	background:url(../../../assets/root/images/backgrounds/rightColumn.gif) repeat-y 638px 0% #fff;
}
.leftColumn {
	float:left;
	padding:0;
	min-height:250px;
	width:643px;
}
.leftColumn .contentContainer {
	padding:20px;
}
.rightColumn {
	float:right;
	width:317px;
}
h1.int {
	margin:40px 10px 10px;
}
.backOnePage a {
	margin-left:18px;
	padding:0 0 0 15px;
	background:url(../../../assets/root/images/icons/icon-back.gif) no-repeat center left;
	text-decoration:none;
}
.backOnePage a:hover {
	text-decoration:underline;
}
/*----------
		HOME
	------------ */
	.page-15 #mainContent {
	/* overflow:hidden; */ /* only for tablet */
	margin:113px auto;
	width:960px;
	background:none;
}

@media only screen and (device-width: 768px) {
.page-15 #mainContent {
overflow:hidden;
width:100%;
}
}

 @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
.page-15 #mainContent {
overflow:hidden;
}
}
 @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
 .page-15 #mainContent {
overflow:hidden;
}
}

.sliderItem {
	position:relative;
}
.headerSlide {
	position:absolute;
	top:169px;
	width:652px;
}
.headerSlide h1 {
	opacity:1;
	filter:alpha(opacity=100);
	-moz-opacity:1;
}
.bannerTxt {
	position: absolute;
	top: 360px;
	left: 255px;
	width: 820px;
	color: white;
	text-shadow: 1px 2px 0px black;
	font-size: 36px;
	font-family: 'MuseoSans500', Arial, Helvetica, sans-serif;
	line-height: 36px;
}
.item-20 .bannerTxt {
	/* left:195px; */
	width:960px;
}
a.closeContact {
	position: absolute;
	right: 15%;
	bottom: -29px;
	padding: 5px 10px;
	width: 63px;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	background: white;
	text-decoration: none;
	font-weight: bold;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
}
a.closeContact img {
	padding:0 0 0 5px;
	vertical-align:middle;
}
.bannerModules {
	position:relative;
	z-index:12;
	margin:-120px auto 0;
	width:960px;
	background:url(../../../assets/root/images/backgrounds/home_module_box.jpg) no-repeat top left #20436e;
}
.bannerModules .module {
	float:left;
	padding:20px;
	min-height: 272px;
	width:280px;
	color:#fff;
	cursor:pointer;
}
.bannerModules .module h2 {
	display: inline-block;
	margin-bottom: 20px;
	padding: 17px 55px 0 0;
	background: url(../../../assets/root/images/icons/icon-imagine.png) no-repeat top right;
	font-weight: normal;
	font-size: 30px;
	font-family: 'MuseoSans100', Arial, Helvetica, sans-serif;
}
.bannerModules .module-19 h2 {
	background-image:url(../../../assets/root/images/icons/icon-imagine.png);
	background-position: 126px 9px;
}
.bannerModules .module-20 h2 {
	background-image:url(../../../assets/root/images/icons/icon-uncover.png);
	background-position: 126px 5px;
}
.bannerModules .module-21 h2 {
	background-image:url(../../../assets/root/images/icons/icon-move.png);
	background-position:88px 0;
}
.module-19.active h2 {
	background: url(../../../assets/root/images/icons/imagine-activeBg.png) no-repeat 117px 0;
}
.module-20.active h2 {
	background:url(../../../assets/root/images/icons/uncover-activeBg.png) no-repeat 126px 0;
}
.module-21.active h2 {
	background:url(../../../assets/root/images/icons/move-activeBg.png) no-repeat 80px 0;
}
.modulePointer {
	position:absolute;
	left:280px;
	margin-top:-11px;
}
/*------------
		END HOME
	-------------- */
	
	/*--------------
		PORTFOLIO
	---------------- */

#portLanding .portInfo {
	background:#fff;
}
.row {
	float:left;
}
.portImg {
	display:block;
	float:left;
	width:160px;
	height:160px;
	border-right:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
}
.portImg img {
	display:none;
}
.row .lastInRow {
	border-right:0px none;
}
.tabNav {
	margin-top:-36px;
	height:36px;
}
.tabNav li {
	float:left;
	text-align:center;
}
.tabNav li:first-child a {
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
}
.tabNav li:last-child a {
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
}
.tabNav li a {
	display:block;
	padding:8px 20px;
	height:20px;
	background:#000;
	text-decoration:none;
}
.tabNav li a:hover, .tabNav li a.selected,  .page-5 .tabNav li.menu-item-17 a {
	background:#fff;
	color:#000;
}
.tabsAdded {
	margin-top:63px;
}
.portThumb {
	float:right;
	margin:10px 10px 0 0;
	border:1px solid #e6e6e6;
}
.url {
	padding:0 0 0 15px;
	background:url(../../../assets/root/images/icons/icon-link.gif) no-repeat center left;
}
.url a {
	text-decoration:none;
	font-size:12px;
}
.url a:hover {
	text-decoration:underline;
}
#portLanding .info {
	padding:20px;
	border-bottom:1px solid #e5e5e5;
}
#portLanding .fullReport {
	padding:20px;
	font-size:12px;
	line-height:22px;
}
#portLanding .moduleTitle {
	margin-bottom:4px;
	font-size:22px;
	line-height:22px;
}
a.portImg {
	width:160px;
	height:160px;
}
a.portImg.lastInRow {
	width:159px;
	height:160px;
}
a.portImg span.portFrame {
	position:absolute;
	z-index:998;
	display:block;
	overflow:hidden;
	margin-top:-1px;
	margin-left:-1px;
	width:162px;
	height:162px;
	background: transparent url(../../../assets/root/images/backgrounds/portFrame160.png) no-repeat top left;
}
a.portImg.lastInRow span.portFrame {
	width:161px;
	height:162px;
	background: transparent url(../../../assets/root/images/backgrounds/portFrame159.png) no-repeat top left;
}
a.portImg.firstInRow span.portFrame {
	margin-left:0px;
	width:161px;
	height:162px;
	background: transparent url(../../../assets/root/images/backgrounds/portFrame159.png) no-repeat top left;
}
a.portImg span.viewlinks {
	position:absolute;
	z-index:999;
	display:block;
	margin:136px 0 0 79px;
	padding:0 15px 0 0;
	background:url(../../../assets/root/images/icons/team-view-arrow-black.png) no-repeat right center;
}
a.portImg span.portBoxer {
	position:relative;
	display:block;
	overflow:hidden;
	width:159px;
	height:160px;
}
span.portBoxer {
	position:relative;
	display:block;
	overflow:hidden;
	width:159px;
	height:160px;
}
div.fullReport {
  text-align:justify
}
.page-17 .contentContainer, .page-5 .contentContainer, .page-18 .contentContainer {
display:none;
}
/*--------------
		END PORTFOLIO
	---------------- */
	
	/*--------------
		PAGINATION
	---------------- */
		.pager {
	margin: 20px 10px;
}
.pager a, .pager span {
	display:inline-block;
	margin-right:4px;
	padding:4px 8px;
	border:1px solid #e8e8e8;
	color:#333333;
}
.pager a:hover, .pager span {
	border:1px solid #666666;
	background:#666666;
	color:#fff;
}
.pager .pagerLast, .pager .pagerFirst, .pager a.pagerLast:hover, .pager a.pagerFirst:hover, .pager .pagerLast span, .pager .pagerFirst span {
	padding:0;
	border:0px none;
	background:none;
	color:#333;
}
/*--------------
		END PAGINATION
	---------------- */



	/*--------------
		INVESTMENT CRITERIA
	---------------- */
		
/* .page-3 .leftColumn {
		
/* width:100%;  background:#fff url(../../../assets/root/images/backgrounds/4columnBg.gif) repeat-x top left;
/* }
.page-3 .leftColumn .contentContainer {
	padding:40px 20px; */
		
/* background: url(../../../assets/root/images/backgrounds/contentBgTopShadow.jpg) no-repeat top center; */
		
/* }
.page-3 .rightColumn {
	display:none; */
.investCrit li h3 {
	margin: 10px 0 0 20px;
	padding: 20px 0 40px;
	text-align: left;
	font-size: 24px;
	font-family: "MuseoSans100", Arial, Helvetica, sans-serif;
	line-height: 34px;
}
.investCrit {
	margin: 0 0;
	padding: 0;
}
.investCrit li {
	display: inline-block;
	margin: 0 0px 0 0;
	padding: 20px 10px 0 0;
	width: 228px;
	border-right: 1px solid #E3E3E3;
	vertical-align: top;
	text-align: center;
}
.investCrit li:last-child {
	margin:0;
	padding:20px 0 0 0;
	border:none;
}
.contentContainer:not(.business-plan) ul, .fullReport .leftColumn ul {
	margin: 20px -20px;
	border-top: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
}
.contentContainer:not(.business-plan) ul li, .fullReport .leftColumn ul li {
	margin: 0 0px;
	padding: 10px 40px 10px 68px;
	border-bottom: 1px solid #E5E5E5;
	background: url(../../../assets/root/images/backgrounds/bullet.gif) no-repeat 40px center;
	/* font-weight: bold; */
	line-height: 18px;
}
.contentContainer:not(.business-plan) ul li:last-child, .fullReport .leftColumn ul li:last-child {
	border:none;
}
/*--------------
		END INVESTMENT CRITERIA
	---------------- */
	
	
	/*--------------
		RIGHT COLUMN
	---------------- */
		.rightColumn .module {
	padding:20px;
}
.rightColumn .module {
	border-top:1px solid #cecece;
}
.rightColumn .module-22 {
	border:none;
}
.rightColumn .module-22 {
	padding:20px;
}
.rightColumn .module h3 {
	margin:0 0 10px;
	font-weight:normal;
	font-size:18px;
	font-family:'MuseoSans500', Arial, Helvetica, sans-serif;
	line-height:24px;
}
.rightColumn .module a {
	text-decoration:none;
	font-size:12px;
}
.rightColumn .module a:hover {
	text-decoration:none;
}
.rightColumn .module-23 img {
	float:left;
	margin:0 10px 15px 0;
}
/*--------------
		END RIGHT COLUMN
	---------------- */
	
	
	/*--------------
		TEAM
	---------------- */
	#teamLanding h2 {
	margin:0 1px 0 0;
	background:url(../../..../../../assets/root/images/backgrounds/team-border-strikethrough.gif) repeat-x top left;
	font-weight:normal;
	font-size:18px;
	font-family:'MuseoSans500', Arial, Helvetica, sans-serif;
}
#teamLanding .md {
	padding:20px;
}
#teamLanding h2 span {
	display:inline-block;
	padding:0 10px;
	background:#fff;
}
#teamLanding a, #bioLanding .rightColumn a {
	position:relative;
	text-decoration:none;
	font-size:12px;
}
#teamLanding a span.view, #bioLanding a span.view {
	position:absolute;
	right:10px;
	bottom:6px;
	display:none;
	padding:0 15px 0 0;
	background:url(../../../assets/root/images/icons/team-view-arrow.png) no-repeat right center;
}
#bioLanding a.linkImg {
	float:left;
}
#bioLanding a span.view {
	right: 20px;
}
#teamLanding .md strong, #bioLanding .rightColumn .md strong {
	display:block;
	margin:2px 0;
}
#teamLanding .position {
	font-size:12px;
}
#teamLanding .description {
	margin:10px 0 0;
}
#teamLanding .readmore, #bioLanding .readmore, .readmore {
	padding-right:15px;
	background:url(../../../assets/root/images/icons/viewMore.png) no-repeat center right;
}
.mdGroup-10 .md {
	float:left;
	width:27%;
}
.teamNav li {
	padding:10px 0 10px 15px;
	background: url(../../../assets/root/images/icons/viewMore.png) no-repeat center left;
}
.teamNav li a:link, .teamNav li a:visited, .teamNav li a:hover {
	font-size:16px;
}
.page-68 #bioLanding, .page-58 .contentBG {
	margin:10px 0 0;
}
#bioLanding .leftColumn {
	padding:20px;
	width:603px;
}
#bioLanding img.bioImage {
	float: left;
	margin: 0 0 10px;
	border-right: 20px solid white;
}
#bioLanding h2 {
	margin:0 0 10px;
	padding:0 0 10px;
	border-bottom:1px solid #e5e5e5;
	font-weight:normal;
}
#bioLanding .rightColumn {
	padding:20px;
	width:277px;
}
#bioLanding .rightColumn h3.moduleHeader {
	margin:0 0 20px;
	font-size:18px;
	font-family: 'MuseoSans500', Arial, Helvetica, sans-serif;
}
#bioLanding .rightColumn .md {
	margin-bottom:20px;
}
#bioLanding .rightColumn .md a {
	position: relative;
	text-decoration: none;
}
#bioLanding .rightColumn .md img {
	float:left;
	margin:0 10px 0px 0;
}
/*--------------
		END TEAM
	---------------- */

	/*--------------
		CONTACT
	---------------- */
.submitPlan {
	padding:20px;
}
.contactLeft, .contactRight {
	float: left;
	padding: 20px 0 0 20px;
	width: 300px;
}
.contactLeft {
	padding: 20px 10px 0 0;
	width: 620px;
	/* height: 400px; */
	border-right: 1px solid #e5e5e5;
	padding-bottom: 30px;
}
.screen-reader-response {
	display: none;
}
.contactLeft .wpcf7-not-valid-tip {
	display: inline-block;
	margin-top: -28px;
}
.contactContent h2 {
	margin-bottom: 30px;
	color: #222;
	font-size: 26px;
	font-family: 'MuseoSans100', Arial, Helvetica, sans-serif;
}
.contactRight h2 {
	font-size: 21px;
}
.contactRight p {
	margin-bottom: 30px;
}
.inputFields .submitContact, .go {
	padding: 8px 20px;
	width: auto;
	border: 1px solid #906307;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: url(../images/backgrounds/submitBg.jpg) top repeat-x #BE8E0A;
	color: white;
	text-shadow: #6A4804 0px -1px 0px;
	font-weight: lighter;
	font-size: 13px;
	font-family: Helvetica, Arial, sans-serif;
	cursor: pointer;
}
a.go {
	padding: 8px 30px;
	color: white !important;
	text-decoration: none;
	font-weight: normal;
}
.inputFields .submitContact:hover, .go:hover {
	background-position: 0 -32px;
}
.business-plan .wpcf7-form-control-wrap {
	display: inline-block;
	vertical-align: top;
}
.business-plan input.wpcf7-form-control, .business-plan select.wpcf7-form-control, .business-plan textarea.wpcf7-form-control {
	width: 87%;
	margin-right: -2px;
}
.business-plan .wpcf7-not-valid-tip {
	display: block;
	margin-left: 0;
	margin-top: -28px;
}

/*--------------
		END CONTACT
	---------------- */
	
/* --------------------------------
		END MAIN CONTENT
---------------------------------- */
    
/* --------------------------------
			FOOTER
----------------------------------- */
    

#footer, #siteInfo {
	margin:0 auto;
	width:920px;
}
#footer {
	padding:25px 20px;
	background:url(../../../assets/root/images/backgrounds/footer.jpg) no-repeat top left;
}
#footer > ul > li {
	display: inline-block;
	width: 18%;
	vertical-align: top;
}
/* #footer li.otherLinks {
	margin-right:0px; */
/* width:120px; */

#footer a {
	color:#637895;
	text-decoration:none;
	font-weight:bold;
	font-size:13px;
}
#footer a:hover {
	text-decoration:underline;
}
#footer .subNavFooter a, #footer .otherLinks a {
	font-weight:normal;
	font-size:11px;
}
#footer .otherLinks a {
	font-size:13px;
}
#footer .otherLinks a.investorLogin {
	display: inline-block;
	margin: 4px 0px 15px 0;
	padding: 0 0 0 30px;
	background: url(../../../assets/root/images/icons/investor-login.png) no-repeat top left;
	color: #C90;
	text-shadow: 0px 1px 0 black;
	font-weight: bold;
}
.tecture {
	float:right;
}
#siteInfo {
	padding:20px;
	color:#637895;
	font-size:12px;
}
/* --------------------------------
			END FOOTER
----------------------------------- */

.leftColumn.full-width,
.page-25 .leftColumn, .page-9 .leftColumn {
	width:100%;
	background:#fff;
}
.page-25 .rightColumn, .page-9 .rightColumn {
	display:none;
}
.siteMapContainer {
	padding:20px;
}
.siteMapContainer h3 {
	padding:10px 0 0 0;
	font-size:14px;
}
.siteMapContainer .portfolio h3 {
	padding:0;
}
.siteMapContainer li:first-child h3 {
	padding:0;
}
.siteMapContainer > div {
	display: inline-block;
	width: 48%;
	vertical-align:top;
}
.siteMapContainer .portfolio {
	display: block;
	padding: 40px 0;
	width: 100%;
	line-height: 18px;
}
.siteMapContainer .portfolio ul > li {
	display: inline-block;
	width: 48%;
	vertical-align: top;
}
.siteMapContainer .portfolio ul li ul li {
	display:block;
	width:auto;
}
.siteMapContainer h2 {
	padding:0 0 10px 0;
}
.page-65 .leftColumn {
	background:url(../../../assets/root/images/backgrounds/submitPlanConfirmBg.jpg) no-repeat 20px 20px;
}
.page-65 .contentContainer {
	padding:40px 0 0 160px;
}
.page-14 .leftColumn {
	padding:0 0 70px 0;
}
.fullReport .leftColumn img {
	float:left;
	margin:0 20px 20px 0;
	border:1px solid #e5e5e5;
}
.fullReport .leftColumn {
	padding:20px;
	width: 602px;
	max-width: 100%;
}
.fullReport .rightColumn {
	padding:20px;
	width: 278px;
}
.fullReport {
	padding:0 0 70px 0;
}
.anythingSlider-default {
	margin:0 auto;
	width:960px !important;
}

    
.tecture a{display:inline-block; width:121px; height:20px; background:url(../../../assets/root/images/site-built-by-Tecture.png) no-repeat top left;}
.tecture a .hidden{display:none;}
    
/* ---------------------------------  
    New Styles   
----------------------------------*/




.heading {
cursor: pointer;
position: relative;
border-top: 1px solid #eee;
padding-top: 10px !important;
}
.rightColumn .heading {
padding: 10px 0 !important;
border-top: 1px solid #e4e4e4;
}
.heading:hover {
color: #cc9900;
}
.heading span.toggleArrow {
background: url(../../../assets/root/images/icons/toggleArrow.png) no-repeat;
width: 17px;
height: 17px;
float: left;
margin-top: 5px;
margin-right: 10px;
}
.rightColumn .heading span.toggleArrow {
margin-top: 0px;
}
.heading span.toggleArrowDown {
background-position: 0 -17px;
}




.rightColumn h3 span.rightDate {
color: #555555;
font-weight: normal;
font-family: 'MuseoSans500', Arial, Helvetica, sans-serif;
font-size: 14px;
}
.contentToggle {
width: 602px;
max-width: 100%;
padding: 20px 20px 40px 0;
}
.rightColumn .contentToggle {
width: 277px;
padding: 0 0 20px 0;
}
.newsArticle {
display: block;
padding-left: 80px;
}
.dateContain {
float: left;
text-align: center;
width: 60px;
border: 1px solid #eee;
color: #888;
}
.day {
color: #334e73;
font-size: 30px;
font-weight: bold;
padding: 6px 0 0;
}
.month {
background: #334e73;
color: white;
font-weight: bold;
}
.newsEntry {
border-bottom: 1px solid #eee;
padding-bottom: 30px;
margin-bottom: 25px;
min-height: 60px;
}
.newsEntry h2, .newsArticle h2 {
font-size: 26px;
}
.newsPhoto {
border: 1px solid #ccc;
max-width: 521px;
margin: 5px 0 20px;
}
.rightColumn .module .articleRightTitle h3 {
font-weight: normal;
font-size: 18px;
font-family: 'MuseoSans100', Arial, Helvetica, sans-serif;
line-height: 24px;
font-size: 16px;
border-top: 1px solid #e9e9e9;
padding: 5px;
margin: 0px;
}
.rightColumn .module .articleRightTitle h3:hover {
background: #f7f7f7;
}
#newsLanding {
padding-bottom: 20px;
margin: 16px 0 0;
}

.mobileDateContain {
	display: none;
}

.mobileHeader {
	background:#fff;
	display: none;
}
.mobileHeader ul.menu {
	display:none;
	padding:0 0 20px 0;
}
.mobileHeader img {
	padding:10px 15px;
        width:150px;
}
.mobileHeader ul.menu li a:hover {
	background:#f2f2f2;
	color:#cc9900;
}
.mobileHeader ul.menu li a:link, .mobileHeader ul.menu li a:active, .mobileHeader ul.menu li a:visited, .mobileHeader ul.menu li a:hover {
	color:#333;
	padding:15px;
	font-family: 'MuseoSans500', Arial, Helvetica, sans-serif;
	font-size: 18px;
	display:block;
	font-weight:normal;
	border-bottom:1px solid #e5e5e5;
}
.mobileHeader a.menuLink:link, .mobileHeader a.menuLink:active, .mobileHeader a.menuLink:visited, .mobileHeader a.menuLink:hover {
	color: #333;
	padding: 20px 15px;
	float: right;
	font-family: 'MuseoSans500', Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-decoration: none;
}

.mobilefooter {
	display: none;
}

	.mobilePage74 {
		display: none;
	}
	.fullPage74 {
		display: block;
	}
    
@media only screen and (max-width: 960px) {
	.mobileHeader {
		display: block;
	}

	#mainContainer #topBar {
		display: none;
	} 

	#mainContent {
		width: calc(100% - 40px);
		padding: 0 20px;
		margin: 48px auto 0px;
	}
	.contentBG {
		background: #ffffff;
	}
	.leftColumn {
		float: none;
		width: 100%;
	}
	.rightColumn {
		float: none;
		width: 100%;
	}

	/**************
	* Team Page
	**************/

	.mdGroup-10 .md,
	.mgGroup-10 .md {
		width: 100%;
	}

	.newsEntry h2 {
		font-size: 20px;
		color: #333;
		line-height: 24px;
		padding-bottom: 5px;
	}

	.newsArticle {
		padding-left: 0;
	}

	.newsEntry .dateContain {
		display: none;
	}

	.mobileDateContain {
		display: inline-block;
		padding-bottom: 20px;
	}

	.fullReport .leftColumn,
	#bioLanding .rightColumn,
	#bioLanding .leftColumn {
		width: calc(100% - 40px);
	}

	.tabsAdded .tabNav li a {
		padding: 8px 10px;
	}

	.tabsAdded #port.row {
		width: 100%;
	}
	.tabsAdded  a.portImg.lastInRow,
	.tabsAdded .portImg {
		display: inline-block;
		width: 49%;
		border: none;
	}

	.tabsAdded span.portBoxer {
		width: 100%;
	}
	.tabsAdded .img_wrapper {
		height: 160px;
		width: 100% !important;
	}

	#footer, #siteInfo {
		display: none;
	}
	.mobilefooter {
		display: block;
	}
	.mobilefooter {margin: 0 5px;padding:0 0 70px 0;}
	.mobilefooter ul {background: #132E54;}
	.mobilefooter li {width: 13%;
	text-align: center;
	display: inline-block;
	padding: 10px 10px;}
	.mobilefooter li a:link, .mobilefooter li a:active, .mobilefooter li a:visited, .mobilefooter li a:hover {color:#637895;}
	.mobilefooter {text-align:center;color:#637895;}
	.mobilefooter p {padding:20px 0;font-size:12px;}


	.mobilePage74 {
		display: block;
	}
	.fullPage74 {
		display: none;
	}
	.mobilePage74 .container {background:none;border-top:none;margin:0;padding:0;}
	.mobilePage74 h1 {display:none;}

	.mobilePage74 .flexslider .slides > li {position:relative;}
	.mobilePage74 .flexslider p {line-height:12px;font-size:12px;font-family: 'MuseoSans500', Arial, Helvetica, sans-serif;}
	.mobilePage74 .flexslider .content {position:absolute;color:#fff;text-align:center;top:30%;padding:0 40px;}
	.mobilePage74 .flexslider .imgTitle {margin:0 0 0;text-align:center;}

	                       /*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin:0;position: relative;zoom: 1;}
.flex-viewport {width:100%;max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {width: 30px; height: 30px; margin: -20px 0 0; display: block; background: url(../flexslider/images/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: 100% 0; right: -36px; }
.flex-direction-nav .flex-prev {left: -36px;}
.flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: auto; position: absolute; bottom: -30px; text-align: center;
background: url(../images/mobile/homeSliderBg.jpg) repeat-x top left;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {position: static; overflow: hidden;}
.flex-control-thumbs li {width: 33%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}


} 

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}

@media only screen and (max-width: 750px) {
	#mainContent {
		width: calc(100% - 10px);
		padding: 0 5px;
	}
	.wpcf7 .field {
		width: 100%;
	}
	li.comment textarea {
		width: 92%;
		max-width: 92% !important;
	}
}

@media only screen and (max-width: 500px) {
	#bioLanding img.bioImage {
		width: 100%;
	}
	.tabsAdded .img_wrapper img {
		width: 100% !important;
	}
}

@media only screen and (max-width: 500px) {

	body {
	background: #15335E url(../images/mobile/bvcMobileBg.jpg) no-repeat center 45px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 18px;
	margin: 0;
	padding: 0;
	font-size:14px;
}
h1 {
	font-family: 'MuseoSans100', Arial, Helvetica, sans-serif;
	font-size: 30px;
	color:#fff;
	padding:25px 15px;
	margin:0;
	font-weight:normal;
}
h2 {
	font-family: 'MuseoSans100', Arial, Helvetica, sans-serif;
	font-size: 20px;
	color:#333;
	line-height:24px;
	margin:0;
	font-weight:normal;
}
ul li {
	list-style:none;
	padding:0;
}
ul, p, img, h2, h3 {
	padding:0;
	margin:0;
}
a:link, a:active, a:visited, a:hover {
	color:#cc9900;
	text-decoration:none;
	font-size:14px;
}
.header {
	background:#fff;
}
.header ul.menu {
	display:none;
	padding:0 0 20px 0;
}
/* slideToggle was not working on mobile, so instead here is a new class to toggle instead! */
.header ul.expanded {
	display:block;
	padding:0 0 20px 0;
}
.header img {
	padding:10px 15px;
        width:150px;
}
.header ul.menu li a:hover {
	background:#f2f2f2;
	color:#cc9900;
}
.header ul.menu li a:link, .header ul.menu li a:active, .header ul.menu li a:visited, .header ul.menu li a:hover {
	color:#333;
	padding:15px;
	font-family: 'MuseoSans500', Arial, Helvetica, sans-serif;
	font-size: 18px;
	display:block;
	font-weight:normal;
	border-bottom:1px solid #e5e5e5;
}
.header a.menuLink:link, .header a.menuLink:active, .header a.menuLink:visited, .header a.menuLink:hover {
	color: #333;
	padding: 20px 15px;
	float: right;
	font-family: 'MuseoSans500', Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-decoration: none;
}
.container {
	margin: 0 5px;
	border-top: 4px solid black;
	background: white;
	padding:10px 10px 50px;
}
.page78 .mobileContact ul li.labels, .page78 .mobileContact ul li.fields {
	display:block;
}
.team ul {
	padding:0 0 15px 0;
	border-bottom:1px solid #e5e5e5;
	margin:0 0 15px 0;
}
.team ul:last-child {
	border:none;
}
.team ul.Managing li {
	width:32%;
	display:inline-block;
	overflow:hidden;
	margin:0 3px 0 0;
	vertical-align:top;
}
.team ul.Managing li:last-child {
	margin:0;
}
.team ul.Managing li img {
	width:100px;
}
.team h3 {
	font-size:12px;
}
.team ul {
	padding:0 0 20px;
}
.team ul li {
	padding:0 0 20px 0;
}
.details img {
	float:left;
	padding:0 10px 10px 0;
}
.details h3 {
	padding:5px 0;
	font-weight:normal;
}
.details .backLink {
	padding:20px 0;
	display:block;
}
.details .extra {
	padding:10px 0;
	display:block;
}
.investments {overflow:hidden;padding:0;}
.investments li {
	width:49%;
	display:inline-block;
	text-align:center;
	/*border-right:1px solid #E5E5E5;
	border-bottom:1px solid #E5E5E5;*/
	margin:0;
	padding:0;
}
.investments img {
	width:100%;
        max-width:160px;
}
.tabs {
	margin:0;
	padding:0;
	display:block;
	background:#000;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.tabs li {
	display:inline-block;
}
.tabs li a:link, .tabs li a:active, .tabs li a:visited, .tabs li a:hover {
	padding: 10px 10px;
	display: inline-block;
}
.tabs li.active a:link {
	background:#fff;
	color:#333;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.page76 .container, .page80 .container, .page81 .container {
	position:relative;
	margin:40px 10px 0;
}
.page76 .tabs, .page80 .tabs, .page81 .tabs {
	top: -38px;
	position: absolute;
	left: 0;
}
.page76 {
	padding:0;
}

.footer {margin: 0 5px;padding:0 0 70px 0;}
.footer ul {background: #132E54;}
.footer li {width: 13%;
text-align: center;
display: inline-block;
padding: 10px 10px;}
.footer li a:link, .footer li a:active, .footer li a:visited, .footer li a:hover {color:#637895;}
.footer {text-align:center;color:#637895;}
.footer p {padding:20px 0;font-size:12px;}

.page77 .container {padding:0 10px 50px;}
.page77 img {width:100%;margin:0 0 20px 0;}

.flexslider .slides > li {position:relative;}
.flexslider p {line-height:12px;font-size:12px;font-family: 'MuseoSans500', Arial, Helvetica, sans-serif;}
.flexslider .content {position:absolute;color:#fff;text-align:center;top:30%;padding:0 40px;}
.flexslider .imgTitle {margin:0 0 0;text-align:center;}
    

.newsPhotoMobile {
border: 1px solid #ccc;
max-width: 100%;
margin: 20px 0 0;
padding: 0px !important;
float: none !important;
display: block;
}
.newsEntry {
border-bottom: 1px solid #eee;
padding-bottom: 30px;
margin-bottom: 25px;
min-height: 60px;
}


}

    

    

    