                                                                                        /* --------------------------------
			CONTACT FORM
----------------------------------- */
*{margin:0; padding:0;}
ul, ul li {
list-style: none;
}

body, textarea {
line-height: 18px;
color: #333;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
}

.inputFields, .labels {
clear: left;
}
.labels, .labelsWide { 
margin-bottom: 10px;
font-weight: bold;
}
.labels .leftLabel, .labels .rightLabel, .labelsWide .leftLabel {
width: 40%;
margin-right: 10px;
padding: 0 10px;
float: left;
}
.labelsWide {
width: 620px;
}
.inputFields input, .inputFields textarea, .inputFields select, 
.field input, .field textarea, .field select {
width: 40%;
padding: 8px;
border: 1px solid #999;
font-size: 12px;
margin: 8px 6px 30px 0;
}
.inputFields textarea, .field textarea  {
height: 95px;
/*margin-top: 0px;*/
margin-bottom: 15px;
max-width: 282px !important;
max-height: 95px !important;
float: left;
}
input:focus, textarea:focus {
    outline: none;
    border: 1px solid #c99d19;
}

 .inputFields select, .field select {width:43%;}

.inputFields span, .field span em, .note {
margin-left: 20px;
color: #999;
font-size: 12px;
font-weight:normal;
margin-bottom:4px;
}

li.comment {width:100%;}
li.comment label {display:block;}
li.comment textarea {width:100%;}

.note{margin-left:0;}
.inputFields .submitContact, .go, .field .submitContact {
padding: 8px 20px;
width: auto;
border-radius: 3px;
-moz-border-radius: 3px;
color: white;
font-family: Helvetica, Arial, sans-serif;
font-size: 13px;
background: url(../images/backgrounds/submitBg.jpg) top repeat-x #BE8E0A;
border: 1px solid #906307;
font-weight: lighter;
text-shadow: #6A4804 0px -1px 0px;
cursor: pointer;
margin-bottom:0;
}
a.go {
padding: 8px 30px;
color: white !important;
text-decoration: none;
font-weight: normal;
}
.inputFields .submitContact:hover, .go:hover, .field .submitContact:hover {
background-position: 0 -32px;
}
.closeContact {
width: 100%;
background: url(../images/backgrounds/contactShadow.png) top repeat-x;
}   


.submitPlan {padding:20px;}
.error{color:red;}


    
  
.field label span{font-weight:bold; display:block;}
.field {width:50%; float:left;}
.field input, .field textarea, .field select {width: 92%;}
.submit{clear:both;}
.mobile{width:100%;float:none; }
.mobileContact iframe li{float:none;}

    

    

    

    