                /* IE 7 CSS STYLES FIX

<!--[if IE 6]>
Special instructions for IE 6 here
<![endif]-->

 */

    
#nav li{float:left; display:inline-block;}
h1.int {margin-top:150px;}
.tabNav li a {display:inline-block;}
.nav-item-5{height:29px;}

    